<div class="blog">
<?php 
    $nextMatch = ScheduleDAO::getNextCourseScheduleMatch();
    if ($nextMatch) {
?>
        <div class="nextMatch">Next match: <?=date('l, F d', strtotime($nextMatch->date))?>
<?php
        if ($nextMatch->course) {
?>
            at <?=$nextMatch->course?>
<?php
            if ($nextMatch->side) {
?>
                (<?=$nextMatch->side?>)
<?php
            }
        }
?>
        </div>
<?php
    }
    if ($_SESSION["admin"] == 1) {
?>
        <div class="addPost"><a href="admin-addPost.php">Add Post</a></div>
<?php
    }
    $blogDao = new BlogDAO();
    echo $blogDao->getBlogInformation()->toHTML();
?>
</div>

<div class="membership">
  <span class="title">Golf Course Membership Information</span>
  <span class="intro">The Members Club at Woodcreek and WildeWood have invited us to become members.</span>
  <span class="overview">
    <blockquote>
      If you are exploring the possibilities of private club membership for the first time, the Board of 
      Directors and Staff would like you to consider membership at The Members Club at Woodcreek 
      & WildeWood. 
      <br/><br/>
      Our members enjoy the best of championship golf and private amenities at two phenomenal 
      Columbia golf locations. Discover the numerous membership options available to you, your 
      family, or company. The unique advantage of joining The Members Club at Woodcreek & 
      WildeWood is we are one club, with two Columbia golf locations. This means you can enjoy two 
      great golf courses by two of the sport’s most accomplished golf architects, two exceptional 
      clubhouses, tennis and swimming, and two places to soak up life's finer moments.
    </blockquote>
  </span>
  <span class="more-info">For more information, click <a href="/membership/tmcww.pdf">here</a></span>
</div>
