<div class="blog">
<?php 
    $nextMatch = ScheduleDAO::getNextCourseScheduleMatch();
    if ($nextMatch) {
?>
      <div class="row section topspace">
        <div class="col-md-12">
          <p class="lead text-center">
            Next match: <?=date('l, F d', strtotime($nextMatch->date))?>
<?php
            if ($nextMatch->course) {
?>
              at <?=$nextMatch->course?>
<?php
              if ($nextMatch->side) {
?>
                (<?=$nextMatch->side?>)
<?php
              }
            }
?>
          </p>
        </div>
      </div>
<?php
    }
?>
    <div class="row section featured topspace">
      <h2 class="section-title"><span>News</span></h2>
      <div class="row topspace">
        <div class="col-sm-8 col-sm-offset-2">
<?php
          if (array_key_exists("admin", $_SESSION)) {
            if ($_SESSION["admin"] == 1) {
?>
              <div class="addPost"><a href="admin-addPost.php">Add Post</a></div>
<?php
            }
          }
          $blogDao = new BlogDAO();
          echo $blogDao->getBlogInformation()->toHTML();
?>
</div>
