/* apply a natural box layout model to all elements (from http://paulirish.com/2012/box-sizing-border-box-ftw/) */
*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-webkit-transform: translate3d(0, 0, 0);
}

body {
	color: #050;
	background: #EFF url(../images/background.jpg) no-repeat;
	background-size: 100%;
	font-family: tahoma, sans-serif;
}

img {
	max-width: 100%;
}

ul {
	padding: 0;
}

header {
	background-color: #F5F5F5;
	border-bottom: 1px solid #3E3F3F;
	position: relative;
	height: 50px;
}

h1 {
	margin: 0 12px 0 0;
	float: right;
	line-height: 50px;
	vertical-align: middle;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

A,A:visited {
	color: #d13400;
	text-decoration: none;
}

/* sprites (aka menu icons) */
.menu-mobile {
	float: left;
	margin: 0 12px 0 12px;
	vertical-align: middle;
	display: block;
	background-image: url(../images/sprites.png) no-repeat;
	width: 36px;
	height: 36px;
	margin-top: 2px;
}

.menu-button {
	background-position: -32px -292px;
}

li.nav-key:hover {
	background: rgba(221, 255, 255, 0.3);
}

/* add a little shadowing to the nav links when they are hovered over */
li.nav-key:hover a {
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3);
}

/* When the screen width is greater than 48em (what does this translate to?) don't display the menu button */
@media screen and (min-width: 48em) {
	#menu-button {
		visibility: hidden;
	}
}

[role="navigation"] {
	background: #EFF;
	font-weight: 700;
}

[role="navigation"] ul {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #050;
}

[role="navigation"] li {
	color: #050;
	padding-left: 24px;
	position: relative;
	display: block;
	border-bottom: 1px solid #050;
	border-top: 1px solid #050;
}

@media screen and (min-width: 48em) {
	[role="navigation"] li {
		border-left: none
	}
}

[role="navigation"] li:first-of-type {
	border-top: 1px solid #3e3f3f
}

[role="navigation"] li:last-of-type {
	border-bottom-color: #3e3f3f;
}

[role="navigation"] a {
	position: relative;
	display: block;
	line-height: 48px;
	font-size: 20px;
	vertical-align: middle;
	text-decoration: none;
	color: #050;
}

[role="navigation"],[role="main"] {
	width: 100%
}

.js #wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
}

}
[role="main"],[role="banner"] {
	-webkit-box-shadow: -3px 0px 4px 0.5 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: -3px 0px 4px 0.5 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: -3px 0px 4px 0.5 1px 2px rgba(0, 0, 0, 0.1);
	border-left: 1px solid #3e3f3f;
}

.js [role="navigation"] {
	margin-left: -100%;
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	-ms-box-ordinal-group: 1;
	box-ordinal-group: 1;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1 S ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

[role="banner"] {
	width: 100%;
}

.js [role="banner"] {
	margin-left: 0;
	-webkit-box-ordinal-group: 2;
	-moz-box-ordinal-group: 2;
	-ms-box-ordinal-group: 2;
	box-ordinal-group: 2;
}

.js [role="main"] {
	margin-left: -100%;
	margin-top: 50px;
	-webkit-box-ordinal-group: 3;
	-moz-box-ordinal-group: 3;
	-ms-box-ordinal-group: 3;
	box-ordinal-group: 3;
	padding: 1.5%;
}

.active-nav [role="navigation"] {
	background: #5C5C5C;
	margin-left: 0;
	width: 80%;
}

.active-nav #clear-btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 800px;
	width: 20%;
	background: transparent;
	z-index: 4;
}

.active-nav [role="banner"] {
	margin-left:; -200%;
	overflow: hidden;
}

.active-nav [role="main"] {
	overflow: hidden;
}

@media all and (min-width: 768px) {
	.js [role="navigation"] {
		background: #5C5C5C;
		width: 30%;
		margin-left: 0;
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-box-ordinal-group: 2;
		box-ordinal-group: 2;
	}
	.js [role="main"],.js [role="banner"] {
		width: 70%;
	}
	.js [role="banner"] {
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-box-ordinal-group: 1;
		box-ordinal-group: 1;
	}
	.active-nav #clear-btn {
		display: none
	}
}

@media all and (min-width: 800px) {
	.js #wrapper {
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-ms-box-orient: vertical;
		box-orient: vertical;
	}
	.js [role="navigation"] {
		width: 100%;
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}
	[role="navigation"] li {
		display: inline-block;
		padding: 0 12px;
		border: none;
		border-right: 1px solid #333;
	}
	[role="navigation"] li:first-of-type {
		border-left: 1px solid #333;
	}
	.js [role="main"] {
		margin: 0 auto;
		width: 80%;
	}
	.js [role="banner"] {
		margin: 0;
		width: 100%;
	}
}

.ir {
	border: 0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden
}

.clearfix:before,.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both
}

.clearfix {
	*zoom: 1
}

@media print {
	* {
		background: transparent !important;
		color: black !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,a:visited {
		text-decoration: underline
	}
	a[href]:after {
		content: " (" attr(href) ")"
	}
	abbr[title]:after {
		content: " (" attr(title) ")"
	}
	.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after {
		content: ""
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group
	}
	tr,img {
		page-break-inside: avoid
	}
	img {
		max-width: 100% !important
	}
	@page {
		margin: 0.5cm
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid
	}
}

/* ================ previously defined styles ===============================*/
div.navigation {
	width: 140px;
	height: 100%;
	display: inline;
	float: left;
	margin-left: 0px;
	padding-left: 0px;
}

span.nav-key,span.nav-key:hover,span.admin-nav-key {
	width: 130px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	font: italic bold 20px tahoma, sans-serif;
	color: #050;
	background-color: #EFF;
	display: block;
	border: 1px solid #050;
	margin-left: 0px;
	padding-left: 0px;
}

span.admin-nav-key {
	font: italic bold 15px tahoma, sans-serif;
}

span.nav-key:hover,span.admin-nav-key:hover {
	background-color: #DFF;
}

span.importHandicaps {
	background-color: #EFF;
	padding: 5px;
	margin-bottom: 10px;
}

div.content {
	display: inline;
	float: left;
	padding-left: 10px;
}

div.content .blog {
	width: 500px;
	border: 2px solid #050;
	max-height: 600px;
	min-height: 200px;
	background-color: #EFF;
	padding: 5px;
	display: inline;
	float: left;
}

div.content .blog .addPost {
	font: 0.8em tahoma, sans-serif;
}

div.content .blog .post-title {
	font: bold 1.2em tahoma, sans-serif;
	margin-top: 10px;
}

div.content .blog .post-date {
	font: 0.8em tahoma, sans-serif;
}

div.content .blog .post-body {
	font: 0.8em tahoma, sans-serif;
	border-bottom: 1px solid #050;
	padding-bottom: 10px;
}

div.content .scheduleNotes {
	background-color: #EFF;
	display: inline;
	float: left;
}

div.content .assignSubFields {
	background-color: #EFF;
	display: inline;
	float: left;
}

div.content .addPostFields {
	background-color: #EFF;
	width: 700px;
	display: inline;
	float: left;
}

div.content .addPostFields label.blogTitle {
	display: block;
}

div.content .editPlayerFields {
	background-color: #EFF;
	display: inline;
	float: left;
}

div.utilities {
	display: inline;
	float: left;
	margin-left: 30px;
}

div.utilities .login {
	background-color: #EFF;
	border: 2px solid #050;
	padding: 5px;
}

div.utilities .weather {
	margin-top: 10px;
}

div.content div.teams {
	width: 500px;
	border: 2px solid #050;
	background-color: #EFF;
	padding: 5px;
	display: inline;
	float: left;
}

div.content div.players {
	width: 800px;
	border: 2px solid #050;
	background-color: #EFF;
	padding: 5px;
	display: inline;
	float: left;
}

div.matchups {
	display: inline;
	float: left;
}

div.matchups div.matchDate {
	font: bold 1.2em tahoma, sans-serif;
	text-align: center;
	width: 600px;
	border: 2px solid #050;
	background-color: #EFF;
	margin: 10px;
}

div.schedule {
	border: 2px solid #050;
	background-color: #EFF;
	padding: 5px;
	display: inline;
	float: left;
}

table.statistics {
	background-color: #EFF;
	padding-top: 20px;
}

table.login {
	background-color: #EFF;
	margin-left: 40px;
	margin-top: 20px;
	padding: 20px;
}

table.teams,table.players,table.scorecard {
	width: 100%;
	border: 2px solid #050;
	border-collapse: collapse;
	background-color: #EFF;
}

table.matchup,table.handicaps,table.import {
	width: 600px;
	border: 2px solid #050;
	border-collapse: collapse;
	background-color: #EFF;
	margin: 10px;
}

table.handicaps,table.scorecard {
	display: inline;
	float: left;
}

table.teams td,table.players td,table.matchup td,table.handicaps td,table.scorecard td,table.import td
	{
	vertical-align: top;
	border: 1px solid #050;
}

table.matchup td.hole,table.scorecard td {
	vertical-align: middle;
	text-align: center;
}

table.matchup td.player {
	width: 210px;
}

table.matchup td.player div.color-box {
	width: 10px;
	height: 10px;
	display: inline-block;
	border: 1px black solid;
}

table.matchup td.handicap {
	width: 40px;
}

table.scorecard td.spacer {
	height: 10px;
}

table.scorecard td.course {
	font: bold 1.2em tahoma, sans-serif;
}

table.teams td.noborder,table.players td.noborder,table.matchup td.noborder,table.handicaps td.noborder,table.import td.noborder
	{
	vertical-align: top;
}

table.teams th,table.players th,table.matchup th,table . th,table.scorecard th,table.import th
	{
	border: 1px solid #050;
}

table.scorecard th {
	text-align: right;
}

div.seasonForm {
	background-color: #EFF;
	padding: 5px;
}

div.adminForm {
	background-color: #EFF;
	padding: 5px;
	border: 1px solid #050;
}

.error {
	color: red;
	display: none;
}