		<div class="row section topspace">
			<div class="col-md-12">
				<p class="lead text-center">Next Round: Thursday, July 17th at WildeWood Golf Club (Front). </p>
			</div>
		</div> <!-- / section -->
		
		<div class="row section featured topspace">
			<h2 class="section-title"><span>News</span></h2>
			<div class="row topspace">
				<div class="col-sm-8 col-sm-offset-2">
          <article class="post">
            <header class="entry-header">
              <div class="entry-meta">
                <span class="posted-on"><time class="entry-date published" date="2014-03-19">March 19, 2014</time></span>
              </div>
              <h1 class="entry-title">We Want Your Feedback</h1>
            </header>
            <div class="entry-content">
              <p>Please visit the Woodcreek Clubhouse after the round and send an email to <a href="mailto:info@bctngl.com">info@bctngl.com</a> with suggestions on how to improve the experience for our league in the clubhouse.</p>
            </div>
          </article>
          <article class="post">
            <header class="entry-header">
              <div class="entry-meta">
                <span class="posted-on"><time class="entry-date published" date="2014-03-11">March 11, 2014</time></span>
              </div>
              <h1 class="entry-title">New Season</h1>
            </header>
            <div class="entry-content">
              <p>Don't forget that our league starts this Thursday. This is a practice round, so you can make your own foursome for the practice round. Please bring $35 for the league fee with you. Cash or check. If check please make it out to "Bob Dissinger". If you want to fund your skins bank please fund it with at least $21. Skins is going to be $3 per week and we will do the same thing as in the past with a "skins bank". We currently have 34 golfers signed up as full time members in the league. We would like to have 36, so if you know anyone that is interested in playing full time let us know.</p>
            </div>
          </article>
				</div>
			</div>
		</div> <!-- / section -->