		<div class="row section featured topspace">
			<h2 class="section-title"><span>Offers</span></h2>
			<div class="row topspace">
				<div class="col-sm-8 col-sm-offset-2">
          <article class="post">
            <header class="entry-header">
              <div class="entry-meta">
                <span class="posted-on"><time class="entry-date published" date="2014-10-10">October 10, 2014</time></span>
              </div>
              <h1 class="entry-title">Windermere Golf Course Membership Information</h1>
            </header>
            <div class="entry-content">
              <p>Windermere has invited us to become members.

              <blockquote>
                <div class="section-title">
                  <img src="membership/windermere/windermere-logo.png"></img>
                </div><br/>
                It has never been easier to get your friends and colleagues to experience The Windermere Club.  For a limited time, we are offering a 45-Day Trial Membership that allows prospective members to have Full Access to Golf, Tennis, Swimming, Dining and Social Activities.  The process is simple and easy and gives your prospect a risk free opportunity to enjoy all the amenities that we have to offer! 
                <br/><br/>
                <h2>Simple and Easy</h2>
                <ul>
                  <li>Cost is only $75.00</li>
                  <li>Sign up in The Pro Shop</li>
                  <li>Receive your membership card</li>
                  <li>Enjoy Full Privilege Membership (Cart Fee's Only)</li>
                  <li>Access to Tennis</li>
                  <li>Dining at The Windermere Club</li>
                  <li>Incentives for signing up as a full member</li>
                </ul>
                <h2>Available Full Membership</h2>
                All Inclusive - $295 ~ All Inclusive (Jr. 33-40/Sr.) - $275<br/>
                Full Privilege - $210 ~ Full Privilege (Jr. 33-40/Sr.) - $175<br/>
                Junior (32 & Under) - $100 ~ Sports - $110<br/>
                <br/><br/>
                **45-Day Trial Membership is a Full Membership which allows prospective members full access to all amenities.  Golf requires cart fee and regular member guest fees apply.  During the trial period, prospective members will not have charging privileges or be allowed to book an event free charge in the parlor or ballroom as Full Time members**
              </blockquote>
            </div>
          </article>
          <article class="post">
            <header class="entry-header">
              <div class="entry-meta">
                <span class="posted-on"><time class="entry-date published" date="2014-06-19">June 19, 2014</time></span>
              </div>
              <h1 class="entry-title">Woodcreek and WildeWood Golf Course Membership Information</h1>
            </header>
            <div class="entry-content">
              <p>The Members Club at Woodcreek and WildeWood have invited us to become members.

              <blockquote>
                If you are exploring the possibilities of private club membership for the first time, the Board of 
                Directors and Staff would like you to consider membership at The Members Club at Woodcreek 
                & WildeWood. 
                <br/><br/>
                Our members enjoy the best of championship golf and private amenities at two phenomenal 
                Columbia golf locations. Discover the numerous membership options available to you, your 
                family, or company. The unique advantage of joining The Members Club at Woodcreek & 
                WildeWood is we are one club, with two Columbia golf locations. This means you can enjoy two 
                great golf courses by two of the sport’s most accomplished golf architects, two exceptional 
                clubhouses, tennis and swimming, and two places to soak up life's finer moments.
              </blockquote>

              For more information, click <a href="/membership/tmcww.pdf">here</a></p>
            </div>
          </article>
				</div>
			</div>
		</div> <!-- / section -->