		<div class="row section featured topspace">
			<h2 class="section-title"><span>Offers</span></h2>
			<div class="row topspace">
				<div class="col-sm-8 col-sm-offset-2">
          <article class="post">
            <header class="entry-header">
              <div class="entry-meta">
                <span class="posted-on"><time class="entry-date published" date="2014-06-19">June 19, 2014</time></span>
              </div>
              <h1 class="entry-title">Golf Course Membership Information</h1>
            </header>
            <div class="entry-content">
              <p>The Members Club at Woodcreek and WildeWood have invited us to become members.

              <blockquote>
                If you are exploring the possibilities of private club membership for the first time, the Board of 
                Directors and Staff would like you to consider membership at The Members Club at Woodcreek 
                & WildeWood. 
                <br/><br/>
                Our members enjoy the best of championship golf and private amenities at two phenomenal 
                Columbia golf locations. Discover the numerous membership options available to you, your 
                family, or company. The unique advantage of joining The Members Club at Woodcreek & 
                WildeWood is we are one club, with two Columbia golf locations. This means you can enjoy two 
                great golf courses by two of the sport’s most accomplished golf architects, two exceptional 
                clubhouses, tennis and swimming, and two places to soak up life's finer moments.
              </blockquote>

              For more information, click <a href="/membership/tmcww.pdf">here</a></p>
            </div>
          </article>
				</div>
			</div>
		</div> <!-- / section -->