		<div class="row topspace">
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">
        <a id="top"></a>
				<ul class="nav text-right nav-side">
					<li class="active"><a href="#courselocation">Course Location</a></li>
          <li><a href="#fellowship">After Round Fellowshup</a></li>
					<li><a href="#leaguefee">League Fee</a></li>
					<li><a href="#leagueformat">League Format</a></li>
          <li><a href="#stableford-competition">Stableford Competition</a></li>
          <li><a href="#flight-competition">Flight Competition</a></li>
          <li><a href="#score-entry-method">Score Entry Method</a></li>
          <li><a href="#determination-of-foursomes">Determination of Foursomes</a></li>
          <li><a href="#teeboxes">Tee Boxes</a></li>
          <li><a href="#generalrules">General Rules</a></li>
          <li><a href="#handicapcalc">Handicap Calculation</a></li>
          <li><a href="#subs">Substitutes</a></li>
          <li><a href="#skins">Skins Game</a></li>
          <li><a href="#daily-competitions">Daily Competitions</a></li>
          <li><a href="#code-of-conduct">Code of Conduct</a></li>
          <li><a href="#league-rule">League Rule or Standard Modifications</a></li>
				</ul>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
        <h3><a id="courselocation"></a>Course Location</h3>
				<p>The 2019 league is played at Cobblestone Park Golf Club each Thursday beginning March 14 and ending October 30. {See the League Format section for more details}. The Cobblestone Pro Shop will rotate the nine holes to be played each week using a 5:00 p.m. shotgun. Very early and very late in the season the start time will be adjusted to make sure play is completed before dark.</p>
        <p>Cobblestone is located at 1298 University Parkway, Blythewood SC 292016</p>
        <p>Plan to arrive at the course early enough to clear the Cobblestone Security at the front gate (they will have a list of who is playing each week), check in at the clubhouse, pay for your round, prepare (hit balls and putt), and be at the cart area fifteen minutes before the scheduled shotgun start for any pre-play announcements. If you are delayed unexpectedly you cannot make up holes you miss. {See scoring for additional information}</p>
        <p>Course Attire:
          <ul>
            <li>Collared shirts are required</li>
            <li>No denim allowed</li>
            <li>Bermuda shorts or slacks are required</li>
            <li>No cargo shorts (pockets on thighs)</li>
            <li>Flip Flops are prohibited</li>
            <li>Shirts must be tucked in at all times</li>
            <li>Soft spikes only</li>
            <li>Hats must be worn facing forward</li>
          </ul>
        </p>
        <p>NO SMOKING in any building or on the snack bar patio.</p>
        <p>9-hole greens fee is $20 which includes range balls and a cart. Fees are paid to the Pro Shop before each round. Payment can be made with credit cards.</p>
        <p>If a round is rained out after the shotgun start, the league administrators will work with Cobblestone to obtain rain-checks.</p>
        <p>Outside food, beverages, and personal coolers are prohibited. Cobblestone has a snack bar for refreshments/snacks before and during the round.</p>
        <p>All players are expected to use a golf cart to improve pace of play.</p>
        <p>Cobblestone offers players with medical disabilities (short or long term) the ability to use a flag on their cart which allows them to drive closer to tees and greens. If you are interested in this option, please see the pro.</p>
        <h3><a id="fellowship"></a>After Round Fellowship</h3>
        <p><a href="#top">Top</a></p>
        <p>
          Players who wish to share food, drink, and discuss the day’s round can gather at McNultys Tap Room in Blythewood. It is located at 420 McNulty Street. Turn left onto Blythewood Road as you exit Cobblestone; then turn left on McNulty Street after crossing the interstate and passing the gas station on your left. McNultys is in the group of shops on the left side after the road curves to the right.
        </p>
        <h3><a id="leaguefee"></a>League Fee</h3>
        <p><a href="#top">Top</a></p>
        <h4>Members</h4>
        <p>
          Full Time Members are players who plan to play most weeks and compete for session prizes. Full Time Members can request a substitute {see SUBS} for weeks they cannot play. The fee is $90 per player per session (two sessions each year). The fee must be paid before the start of each session. These fees cover administration of the league (Website, scoring application, results administration) daily low gross and low net prizes, the skins game, session Stableford competition prizes, session flight competition prizes, and the end of session banquet (food and drinks).
        </p>
        <p>The prize money collected for each session will award prizes (based on 36 members) for:</p> 
        <ul>
          <li>
            Individual Stableford Competition ($150 total)
            <ul>
              <li>1st Place = $75</li>
              <li>2nd Place = $50</li>
              <li>3rd Place = $25</li>
            </ul>
          </li>
          <li>
            Individual Flight Competition ($120 per flight with three flights)
            <ul>
              <li>1st Place = $75</li>
              <li>2nd Place = $30</li>
              <li>3rd Place = $15</li>
            </ul>
          </li>
          <li>Daily low Gross score $10</li>
          <li>Daily low Net score $10</li>
          <li>Skins Game {see skins section}</li>
        </ul>
        <h4>Substitutes</h4>
        <p>
          Substitutes are players that want to play on occasion replacing Full Time Members who cannot make a given week. Substitutes can compete for any additional prizes offered the day of play. The fee is $15 per substitute per session which covers administration of the league as defined above and a Stableford competition exclusively for substitutes.</p>
          <p>The Substitute Stableford competition is scored the same as the member’s version with the exception that no points can be earned if the substitute does not play. At the end of the session the substitute with the highest Stableford score wins $50 (based on 10 substitutes). The substitute who plays more and scores well against their handicap has a better chance at winning this prize.
        </p>
        <h4>League Treasurer</h4>
        <p>
          The league Treasurer is Bob Dissinger. Bob would prefer to receive payment using VENMO, a mobile payment application that is easy to set up, provides Bob and you with payment receipts. Bob’s VENMO account is @Bob-Dissinger.
        </p>
        <h3><a id="communications"></a>Communications</h3>
        <p>
          The league website will be a resource for members to request substitutes, receive announcements concerning the league, as well as other pertinent information.
        </p>
        <p>
          Any changes to the schedule of play, course information, special contests, or pairings will be set via email. The administrators will try to have all information communicated by 5:00 p.m. on the Tuesday before Thursday play.
        </p>
        <p>
          If a player provides a telephone number to receive text messages, this communication channel will be used to announce last minute changes such as cancellation of play (which seldom is called by the Cobblestone pro). We will share member’s telephones numbers with other members so a player that is going to be late can text other members of the situation.
        </p>
        <h3><a id="leagueformat"></a>League Format</h3>
        <p><a href="#top">Top</a></p>
        <p>
          Session One:
          <ul>
            <li>March 14, 21, and 28: Practice rounds</li>
            <li>April 4 through July 18 Session Competition (15 weeks) NO PLAY JULY 4
              <ul>
                <li>Stableford Competition</li>
                <li>Flight Competition</li>
                <li>Skins Game (See SKINS)</li>
                <li>Additional competitions (for example a closest to the pin) will be offered at various times with a “pay to play” where the winner takes all.</li>
              </ul>
            </li>
            <li>Winnings can remain in your “League Bank” or withdrawn at any time by sending Bob Dissinger a request for withdrawal. Your VENMO account will then receive a deposit from @Bob-Dissinger.</li>
          </ul>
          Session Two:
          <ul>
            <li>
              July 25 through October 30 Session Competition (15 weeks) OCTOBER 30 IS A WEDNESDAY BECAUSE WE WILL NOT PLAY ON HALLOWEEN
              <ul>
                <li>Stableford Competition</li>
                <li>Flight Competition</li>
                <li>Skins Game (See SKINS)</li>
                <li>Additional competitions (for example a closest to the pin) will be offered at various times with a “pay to play” where the winner takes all.</li>
              </ul>
            </li>
            <li>All money remaining in everyone’s “League Bank” will be withdrawn and sent to each VENMO account at the conclusion of Session Two unless you specifically instruct Bob Dissinger to keep your money in your “League Bank” for the following year.</li>
          </ul>
        </p>
        <h3><a id="stableford-competition"></a>Stableford Competition</h3>
        <p><a href="#top">Top</a></p>
        <p>
          <ul>
            <li>Net Bogey = 1 point</li>
            <li>Net Par = 2 points</li>
            <li>Net Birdie = 3 points</li>
            <li>Net Eagle = 4 points</li>
            <li>Net Double Eagle = 5 points</li>
            <li>Please see the substitute section for details of points awarded if a member cannot play a round.</li>
          </ul>
        </p>
        <h3><a id="flight-competition"></a>Flight Competition</h3>
        <p><a href="#top">Top</a></p>
        <p>
          <ul>
            <li>League will be divided into three flights (“A”, “B”, and “C”) based on Handicaps after the last round in April for the 1 st session and based on handicaps after end of 1st session for 2nd session. Because everyone is coming off winter break we do not want to establish session one flights until we have 1 month of play in the league (April 4 through April 25). Prizes for the April rounds will be determined after the flights are determined and applied.</li>
            <li>For each day of play, points will be awarded to players in each flight who play that day according to their net score finish:
              <ul>
                <li>First 12</li>
                <li>Second 11</li>
                <li>Third 10</li>
                <li>Fourth 9</li>
                <li>Fifth 8</li>
                <li>Sixth 7</li>
                <li>Seventh 6</li>
                <li>Eighth 5</li>
                <li>Ninth 4</li>
                <li>Tenth 3</li>
                <li>Eleventh 2</li>
                <li>Twelfth 1</li>
              </ul>
            </li>
            <li>If the league has less than 36 members, the total member number will be divided by three to determine flights and the points available will be adjusted by dropping the lowest values. If the flights cannot be even, the last flight will have fewer players. Once flights have been determined for a session, players will not move between flights even if we have players drop out or join. New players will be placed into a flight based on their handicap.</li>
          </ul>
        </p>
        <h3><a id="score-entry-method"></a>Score Entry Method</h3>
        <p><a href="#top">Top</a></p>
        <p>
          Players must enter their scores into Golf Tournamaster for those scores to be counted. This must be done by 10:00 p.m. on the day of play. This allows Bob to calculate the winners for the competitions and skins providing timely updates to the league.
        </p>
        <h3><a id="determination-of-foursomes"></a>Determination of foursomes</h3>
        <p><a href="#top">Top</a></p>
        <p>
          Foursomes, cart partners, and starting holes are assigned using an algorithm at the start of each session. The goal {it does not always happen} is for each member to ride with every league member at least once in a given session. Players may start on the same hole for several weeks and will play in foursomes with some of the same players more than one week.
        </p>
        <h3><a id="teeboxes"></a>Tee Boxes</h3>
        <p><a href="#top">Top</a></p>
        <p>
          <ul>
            <li>In order to keep play enjoyable for everyone AND promote effective play players may choose the tee that is appropriate based on their average drive distance (not longest….average drive in the fairway) as determined by the “rule of 28”. This approach means tees are selected based on skill and not gender or age:
              <ul>
                <li>BLACK (Member) Tees - Average drive 225 yards or more</li>
                <li>GREEN (Club) Tees – Average drive 200 to 225 yards</li>
                <li>RED (Forward) Tees – Average drive 200 yards or less.</li>
                <li>Each player must declare the tees they will play for the session prior to the first night of competition. The administrator will adjust their handicap using the tee chosen. Because handicap is calculated based on the slope and rating of the tee chosen, it is important that the player continues to play from the chosen tee throughout the session. Any player considering moving should discuss this with Bob Dissinger beforehand.</li>
                <li>Note: Do not be “that player” that chooses a shorter tee and then consistently outdrives everyone in your group week after week.</li>
                <li>Second Note: This approach is promoted by the PGA and USGA through the “tee it Forward” program to improve pace of play and overall enjoyment for most amateur players. There are many discussions of this approach on the Internet with an article titled “Which tees should you play” on Milesofgolf.com serving as one comprehensive read on the topic.</li>
              </ul>
            </li>
          </ul>
        </p>
        <h3><a id="generalrules"></a>General Golf / League Rules</h3>
        <p><a href="#top">Top</a></p>
        <p>
          <ul>
            <li>You may roll the ball ANYWHERE. However, you may not roll the ball to avoid an obstacle, give yourself room for a full swing where one was not available with the original ball position, improve your angle to the green, relief from hardpan, or from rough to fairway. You may move the ball away from roots or gravel that might damage your club or your hands and wrists.</li>
            <li>All putts within the "leather" of a standard sized putter are automatically good. This refers to the distance from the bottom of the grip down to the club head of the putter. To measure:
              <ul>
                <li>Place the putter head carefully inside the cup</li>
                <li>Lay the putter flat on the putting surface</li>
                <li>If the entire ball is between the cup and the bottom of the grip, the putt is good.</li>
              </ul>
              <p>
                <img src="assets/images/putter.png"></img>
              </p>
            </li>
            <li>Any putts outside the leather (the bottom of the putter grip) of standard sized putters must be putted.</li>
            <li>If a player hits a ball out of bounds, the player must drop/place the ball within two club lengths of where the ball crossed the OB line. The ball cannot be dropped where the ball came to rest. IF IN DOUBT, confer with your playing partners on where the ball crossed the OB line (golf etiquette suggests you confer with your foursome in all cases)
              <ul>
                <li>The player can re-tee or re-hit from the same spot after hitting the ball OB.</li>
                <li>There is a one stroke penalty for hitting a ball OB.</li>
                <li>Example: Player A hits their tee shot OB (Stroke #1), Player A drops by the OB line (Stroke #2), Player A is hitting their 3rd shot.</li>
              </ul>
            </li>
            <li>If a player loses a ball they must drop/place another ball within one club length of where they think the ball is.
              <ul>
                <li>There is a one stroke penalty if a player has to drop a ball to replace a lost ball.</li>
                <li>Once a ball is dropped and played the original ball is out of play, even if subsequently located.</li>
              </ul>
            </li>
            <li>Tips for speeding up play:
              <ul>
                <li>Play Ready Golf. If you are ready to hit and no one in your group is in your way, you are not in their way, nor are they about to hit their shot then play away!</li>
                <li>Plan ahead by taking extra clubs and a ball with you in situations where you cannot ride to your ball.</li>
                <li>If you experience a hole where your score is very high before reaching the green, mark the GolfTournamaster card with a “0”. The league scorer will award you a net double bogey for the Stableford points.</li>
                <li>References:
                  <ul>
                    <li><a href="http://usga.org">USGA.org</a> --- Once on the USGA site search “pace of play” for several videos and references.</li>
                    <li><a href="https://www.golfdigest.com/story/25-easy-ways-to-speed-up-play">Golf Digest</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>Each week there will be a quick “rule review” as part of the pre-play announcements prior to leaving the cart area for the shotgun start.</li>
            <li><b>The 2019 R&amp;A and USGA Players Edition of the Rules of Golf apply, except for the rules above, and any local rules the Pro may implement.</b></li>
          </ul>
        </p>
        <h3><a id="handicapcalc"></a>Handicap Calculation</h3>
        <p><a href="#top">Top</a></p>
          <p>
            The league scorer prepares each player’s handicap. Handicaps are based on your league USGA nine-hole handicap, which will be calculated using USGA nine-hole handicap index calculations. Players playing for the first time in the league will establish their handicap on the first night of the league.
          </p>
          <p>
            Player handicaps will be based on the USGA nine-hole handicap calculation and the slope rating for the tees they select.
          </p>
          <p>
            Scores for handicaps will be adjusted based on the USGA Equitable Stroke Control (ESC) for the nine-hole handicaps.
          </p>
          <p>
            <div class="escLabel">Equitable Stroke Control</div>
            <table class="escTable">
              <tr>
                <th>Course Hcp</th>
                <th>Max Score</th>
              </tr>
              <tr>
                <td>4 or less</td>
                <td>Double Bogey</td>
              </tr>
              <tr>
                <td class="alt">5 through 9</td>
                <td class="alt">7</td>
              </tr>
              <tr>
                <td>10 through 14</td>
                <td>8</td>
              </tr>
              <tr>
                <td class="alt">15 through 19</td>
                <td class="alt">9</td>
              </tr>
              <tr>
                <td>20 or more</td>
                <td>10</td>
              </tr>
            </table>
          </p>
          <p>
            <div class="hcpLabel">Handicap Calculation</div>
            <table class="hcpTable">
              <tr>
                <th>Rounds Played</th>
                <th>Lowest Scores to Use</th>
              </tr>
              <tr>
                <td>&lt;=2</td>
                <td>1</td>
              </tr>
              <tr>
                <td class="alt">3-4</td>
                <td class="alt">2</td>
              </tr>
              <tr>
                <td>5-6</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="alt">7-8</td>
                <td class="alt">4</td>
              </tr>
              <tr>
                <td>9-10</td>
                <td>5</td>
              </tr>
            </table>
          </p>
          <p>There is an 18.2 maximum 9 hole handicap allowed, per USGA rules</p>
          <p>
            The score differentials are calculated as follows for a nine hole USGA handicap
            <ul>
              <li>(Score - (Course Rating/2)) * 113 / Slope Rating</li>
              <li>The nine hole handicap is then calculated by taking an average of the lowest score differentials and multiplying that number by 96%</li>
              <li>Handicaps are rounded to the nearest whole number</li>
              <li>The league scorer will adjust the score of anyone suspected of “sandbagging” after consultation with the other league officials. Of course, no one in the league would ever do this, so this is a hypothetical rule.</li>
            </ul>
          </p>
          <h3><a id="subs"></a>Substitutes</h3>
          <p><a href="#top">Top</a></p>
          <p>If a member cannot play on any league night they will be responsible for requesting a substitute.</p>
          <p>Substitute requests are made on the website. Go to the Subs area to request a sub. The website is populated with the dates of play for the year so requests can be made as far in advance as you know you cannot play (for that trip to Tahiti for instance).</p>
          <p>Players who have joined as subs can go to the Sub area of the website and see what dates have requests and which players are requesting subs. They can select to take a members slot on the website.</p>
          <p>If a member misses 6 or more times in a session OR misses 4 consecutive weeks their spot will be offered to one of the league’s most consistent substitutes or a random draw of substitutes will be made. The member’s fees will not be refunded.</p>
          <p>If a member does not play and does not request that a substitute play on their behalf that member will be awarded the lowest Stableford score recorded during play that night. If a member requests a substitute the member will be awarded the average Stableford points recorded during play for the evening.</p>
          <h3><a id="skins"></a>Skins</h3>
          <p><a href="#top">Top</a></p>
          <p>
            The game is played against everyone in the field that day. The league treasurer will keep a skins bank for each player, which will reflect any skins you win during the session. Session One winnings can be applied to your session two member fee.
          </p>
          <p>
            Any money left over after dividing the total contributed each week by the number of winning shares will be put into a separate “Mr. Skins” pot. This pot will continue to grow throughout the session. At the end of the session whichever league members have the least amount of skins will split the Mr. Skins pot. For example, if one week there is $51 in the skins game (17 participants) and there are six skins (shares) the league scorer will divide $51 by 6 which equal $8.5. Each winner will receive $8 and the remaining $3 will go into the Mr. Skins pot.
          </p>
          <p>
            The Skins game is a modified game which is handicapped. The modifications are:
            <ul>
              <li>Maximum handicap strokes allowed on Par 3s = 1 regardless of a player’s handicap. The logic is simple – A skin is a reward for great play.</li>
              <li>Gross birdies win 1 share of the pot if there are no other birdies or eagles on the same hole.</li>
              <li>Gross eagles automatically win 2 shares of the pot and cancel out any gross birdies on the same hole, but do not cancel out other gross eagles on the same hole.</li>
              <li>Hole in one wins the entire pot and cancels out all other shares. In this case the player will undoubtedly be using the money to buy everyone else refreshments after play.</li>
              <li>Lowest net score on each hole wins 1 share of the pot. Net score must be the only player with that score. If there are multiple low net scores on a hole then there is no share paid out for lowest net on that hole.</li>
              <li>Please putt out for all gross birdies and eagles. We are not making this an official rule because our league rules state a gimmie is a gimmie regardless of your score on the hole. Keep in mind you are possibly going to win CASH for your score, so for your pride alone, please prove to yourself that you actually scored a birdie or eagle.</li>
            </ul>
          </p>
          <h3><a id="daily-competitions"></a>Daily Competitions</h3>
          <p><a href="#top">Top</a></p>
          <p>
            On days with one day competitions such as closest to the pin or longest drive competitions are being held, players can enter by paying the entry fee prior to play. Players enter by:
            <ul>
              <li>Funding it from your Skins account that Bob manages (communicate with Bob and Mike that this is your choice).</li>
              <li>Pay cash to the designated person at the course before play (last resort).</li>
              <li>Each competition will have the entry fee and payout method described on the Monday before play.</li>
            </ul>
          </p>
          <h3><a id="code-of-conduct"></a>Code of Conduct</h3>
          <p><a href="#top">Top</a></p>
          <p>
            All members and subs playing in the league are expected to conduct themselves properly at all times on Cobblestone property. Our league has been given permission to play at Cobblestone where we will be around club members and their families.
          </p>
          <p>
            Any league player who is reported to the league administrators as having behaved improperly may be warned or asked to leave the league. League administrators will review the allegations, investigate, and then determine the proper action.
          </p>
          <p>
            All players will be asked to sign a copy of the league rules prior to playing for the first time in 2019.
          </p>
          <h3><a id="league-rule"></a>League Rule or Standard Modifications</h3>
          <p><a href="#top">Top</a></p>
          <p>
            If during the course of the season a rule or standard is proposed for modification; the league administrators will email ALL members to obtain input and then review the responses before accepting or denying the proposed change. If a change is made the website will be updated and all members and subs will be advised through the weekly email communications.
          </p>
          <p>
            Bob Dissinger, David Poole, and Mike Upfield are serving as league administrators in 2019. Bob is the league scorer and treasurer. David is the liaison with Cobblestone. Mike handles general communication and special competitions.
          </p>
			</article>
			<!-- /Article -->
		</div>